---
type Props = {
  responsive?: boolean;
};

const { responsive = false } = Astro.props;
---

<div
  class:list={[
    "divider divider-horizontal h-[4px] m-0 ",
    responsive ? "hidden lg:flex" : "",
  ]}
>
</div>
