---
import Clipboard from "@/assets/svgs/clipboard.astro";
import Facebook from "@/assets/svgs/facebook.astro";
import Linkedin from "@/assets/svgs/linkedin.astro";
import Twitter from "@/assets/svgs/twitter.astro";
import Whatsapp from "@/assets/svgs/whatsapp.astro";

type Props = {
  className: string;
  title: string;
  dataAwSocialShare: string;
  dataAwUrl: string | URL;
  dataAwText: string;
  icon: "clipboard" | "facebook" | "linkedin" | "twitter" | "whatsapp";
};

const { className, title, dataAwSocialShare, dataAwUrl, dataAwText, icon } =
  Astro.props;

const iconMap = {
  clipboard: Clipboard,
  facebook: Facebook,
  linkedin: Linkedin,
  twitter: Twitter,
  whatsapp: Whatsapp,
} as const;

const Icon = iconMap[icon];
---

<button
  class:list={[
    "slide active:scale-95 w-12 h-12 bg-base-200 flex items-center justify-center rounded-xl overflow-hidden transition-all duration-300 cursor-pointer dark:hover:text-base-content hover:text-accent-content",
    ...className.split(" "),
  ]}
  title={title}
  data-aw-social-share={dataAwSocialShare}
  data-aw-url={dataAwUrl}
  data-aw-text={dataAwText}
>
  <span class="shareIcon">
    <Icon />
  </span>
</button>

<style>
  .slide:hover .shareIcon {
    animation: slide-in-top 0.3s both;
  }

  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
